.Error {
  align-items: center;
  bottom: 0;
  background: rgb(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.Error-text {
  margin: auto;
  max-width: 80%;
}
